services:
  db:
    image: postgres:18
    container_name: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: url_shortener
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  redis:
    image: redis:8.2
    container_name: redis
    restart: always
    ports:
      - "6379:6379"