name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        # Use the version in package.json packageManager field

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies and generate prisma client with postinstall script
        env:
          DATABASE_URL: http://example.com # Dummy URL to satisfy prisma client generation
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm eslint "{src,test}/**/*.ts"

      - name: Run format check
        run: pnpm prettier --check "src/**/*.ts" "test/**/*.ts"

      - name: Run unit tests
        run: pnpm jest --ci --color --maxWorkers=2

      - name: Run e2e tests
        run: pnpm jest --config ./test/jest-e2e.json --runInBand --detectOpenHandles

      - name: Build
        run: pnpm build
